{{#unless readonly}}
  <div class="controls">
    <button {{action "toggleEdit"}}>Toggle edit</button>
  </div>
{{/unless}}
{{#if editing}}
  {{#mobiledoc-editor mobiledoc=(readonly mobiledoc) on-change=(action "updateMobiledoc") cards=cards as |editor|}}
    {{mobiledoc-toolbar editor=editor}}
    <button {{action editor.addCardInEditMode 'cards/code-block'}}>Code block</button>
    <button {{action editor.addCardInEditMode 'cards/parallax-image'}}>Parallax</button>
  {{/mobiledoc-editor}}
  {{else}}
  {{render-mobiledoc mobiledoc=(readonly mobiledoc) cardNames=cardNames}}
{{/if}}
