<div class="container">
  {{#unless readonly}}
    <div class="controls">
      <button {{action "toggleEdit"}}>Toggle edit</button>
    </div>
  {{/unless}}
  {{#if editing}}
    {{#mobiledoc-editor mobiledoc=(readonly mobiledoc) on-change=(action "updateMobiledoc") cards=cards as |editor|}}
      {{editor-toolbar editor=editor}}
    {{/mobiledoc-editor}}
    {{else}}
    {{render-mobiledoc mobiledoc=(readonly mobiledoc) cardNames=cardNames}}
  {{/if}}


  {{cards/star-rating rating=3 maxRating=10}}
</div>